.companies-wrapper{
    width:100%;
    min-height: calc(100vh - 10rem);
    padding: 0 10rem;
}
.companies-table-wrapper{
    margin: 2rem 0;
    width: 100%;
    font-size: 1rem;
}
.companies-table{
    margin: 0 auto;
    width: 70%;
    font-size: .95rem;
    min-width: 700px;
}
.companies-table-title{
    width:100%;
    font-weight: 700;
}
.table-title-row{
    display: flex;
    line-height: 3rem;
    border-bottom: 2px solid #3F798F;
    background-color: #C3D5DC;
    font-size: 1.08rem;
}
.table-title-row div:nth-last-child(1),
.table-body-row div:nth-last-child(1),
.table-title-row div:first-child,
.table-body-row div:first-child{
    width: 2rem;
    color: #3F798F;
}
.table-title-col,
.table-body-col{
    position: relative;
    padding: 0 1rem;
    width: calc((100% - 4rem) / 3);
}
.table-title-col:hover{
    background-color: #97A1A5;
    color: #3F798F;
    cursor: default;
}
.table-body-row{
    display: flex;
    flex-direction: row;
    line-height: 2.5rem;
    border-bottom: 1px solid #3F798F ;
}
.table-body-row:hover{
    background-color: #FFF6E1;
}
.table-body-row:nth-last-child(1){
    border-bottom: 2px solid #3F798F
}
.table-body-col a{
    text-decoration: none;
    color: black;
}
.table-body-col a:hover{
    color: #A65949;
}
.table-title-col span,
.table-body-col span{
    position: absolute;
    top: .7rem;
    right: 0.7rem;
    width: .8rem;
    height: .8rem;
    display: block;
    background-size: cover;
    cursor: pointer;
}
.table-title-col span{
    background-image: url("../_img/sort.svg");
    top: 1.1rem;
}
.table-body-row div:nth-last-child(1) span{
    width: 1.0rem;
    height: 1.0rem;
    background-image: url("../_img/delete-button.svg");
}

