.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
}
.block-background{
    width: 65%;
    height: inherit;
    background: url("../_img/bg_signin.jpg") no-repeat center center;
    background-size: cover;
}
.block-form-wrapper{
    height: 100vh;
    width: 35%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block-form{
    width: 25rem;
    min-width: 20rem;
    margin: 0 auto;
    padding: 0 1rem;
}
.block-form h1{
    margin: 1rem 0 0.5rem 0;
    font-size: 1.5rem;
    text-align: center;
    color:  #79868a;
}
.block-form p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    text-align: center;
}
.block-field div{
    margin-bottom: 0.1rem;
    height: 6vh;
}
.block-form-button{
    margin: 2rem 0 0 0;
    text-align: center;
}
.form-btn {
    font-size: 1rem;
    padding: 0.3rem 1.8rem;
    border-radius: 0.6rem;
    background-color: #e9f0f2;
    border: 1px solid #e9f0f2;
}
.form-btn:hover{
    border: 1px solid #acbec5;
    background-color: #acbec5;
}

.block-link{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1rem;
}
.block-link a{
    text-decoration: none;
    color: #000000;
}
.block-link a:hover{
    color: #b6bdbf;
}
.block-link a:active,
.block-link a:visited{
    color: #000000;
}

.block-field input:-webkit-autofill,
.block-field input:-webkit-autofill:hover,
.block-field input:-webkit-autofill:focus,
.block-field input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #c3d5dc inset
}

.field_label{
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: #79868a;
}
.field_input,
.field_textarea{
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.5rem;
    border:none;
    border-bottom: 1px solid #acbec5;
    background-color: #c3d5dc;
}
.field_input::placeholder,
.field_textarea::placeholder{
    font-size: 0.8rem;
    line-height: 2rem;
    font-style: italic;
}
.field_textarea{
    resize: none;
    rows: 3;
}
.field_error{
    margin: 0;
    font-size: 0.8rem;
    color: red;
}
